/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
  background-color: #540b51;
  font-family: "Awesome", sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
}
#nav-container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#slack-logo {
  height: 26px;
}

/* items not displayed in mobile version begins */
#menu-options {
  display: none;
}
#additional-icons {
  display: none;
}
/* ends */

#nav-buttons > button {
  background-color: #540b51;
  padding: 10px;
  border: 0px;
}
#header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
#header-container p {
  color: white;
  font-size: 0.7em;
  margin: 1.2em;
}
#header-container strong {
  color: #ecb12f;
}
header h1 {
  color: white;
  font-size: 2.5em;
  text-align: center;
  font-weight: 600;
}
#header-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header-buttons button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 90vw;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border: 0px;
  border-radius: 3px;
  margin: 4px;
}
#sign-up {
  color: #540b51;
}
#google-button {
  display: flex;
  flex-direction: column;
  background-color: #4285f4;
  justify-content: center;
}
#google-logo {
  height: 40px;
  margin: 12px;
  background-color: white;
  align-self: start;
}
#google-button span {
  color: white;
  position: absolute;
  justify-items: center;
}
#product-container img{
  width: 100%;
  padding-top: 20px;
}
main{
   width: 100vw ;
}
#sponsor-container {
  background-color: #f3eae2;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  padding-bottom: 30px;
}
#sponsor-container p {
  font-size: 12px;
  text-transform: uppercase;
  margin: 40px 0 20px;
}
#sponsor-logos img {
  height: 30px;
  margin: 20px;
}
#sponsor-logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.info {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding-top: 40px;
  text-align: center;
  width: 100%;
}
.info h3 {
  color: #540b51;
  font-size: 28px;
  margin: 30px 15px 8px;
}
.info p {
  color: black;
  font-size: 0.7em;
  margin: 0 20%;
}
.info p span {
  color: #540b51;
  font-weight: bold;
  font-size: 2.2em;
}
.info ul {
  list-style: none;
  margin: 30px 90px;
}
.info ul li {
  margin-bottom: 20px;
}
.welcome {
  color: white;
  text-align: center;
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 40px 10px;
}
.welcome h3 {
  margin: 20px;
}

.welcome button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 80vw;
  text-align: center;
  text-transform: uppercase;
  border: 0px;
  border-radius: 3px;
  margin: 6px 0;
}
#try-for-free {
  color: #540b51;
}
#talk-to {
  color: white;
  background-color: #540b51;
  border: solid 1px;
  border-color: white;
}
footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  font-size: 12px;
}
hr {
  margin: 20px 10px 0px;
  height: 1px;
  border-style: none;
  color: rgba(211, 211, 211, 0.873);
  background-color: rgba(211, 211, 211, 0.873);
}
#footer-list li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 8px;
  font-size: 10px;
}
#download {
  color: #4285f4;
}
.footer-list-icon {
  height: 8px;
  object-fit: contain;
  margin-right: 4px;
}
#social-media {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 8px 30px;
}
#social-media li{
  font-size: 20px;
}
footer small {
  color: rgb(153, 150, 150);
}

/* Version for smaller screen size */
@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  header > div {
    width: 50%;
  }
  #header-buttons button {
    width: 50vmax;
  }
  #header-container{
    background-image: url("../images/background-singup.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #product-container img {
    width: 48vw;
  }
  #sponsor-container p{
    font-size: 18px;
  }
  .info h3{
    font-size: 32px;
  }
  .info p{
    font-size: 14px;
    font-weight: 600;
  }
  .info ul{
    display: flex;
    flex-direction: row;
    width: 90vw;
  }
  .info ul li{
    text-align: left;
  }
  .info ul li p span{
    font-size: 38px;
  }
  .info ul li p{
    font-size: 16px;
  }
  #footer-list strong{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #social-media{
    justify-content: flex-start;
  }
  #social-media li{
    margin-right: 80px;
  }
}
